.pizza {
  margin: auto;
  margin-top: 30px;
  display: flex;
  border-radius: 13px;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, #fff1e7, #fcf8f5);
}
.pizzaImg {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  height: 8.5rem;
}

.pizzaName {
  font-size: 18px;
  margin-bottom: -7px;
}
.Contents {
  font-size: 14px;
  color: #121212;
  font-weight: 400;
}
.price {
  font-size: 16px;
  font-weight: 600;
  margin-top: -6px;
}
.addBtn {
  width: 5rem;
  height: 2.4rem;
  background-color: #e86a12;
  color: white;
  border-top-left-radius: 13px;
  border-bottom-right-radius: 13px;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  margin-left: -70px;
  margin-top: 100px;
  font-weight: 600;
}
